* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 0 10px;
  background: #4d4c4c;
  color:white;
}

/* Header/Blog Title */
.header {
  text-align: center;
  color: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.navBar {
  overflow: hidden;
  background-color: rgb(35, 162, 247);
}

/* Style the topnav links */
.navBar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

/* Change color on hover */
.navBar a:hover {
  background-color: rgb(35, 109, 247);
  color: black;
}

.container {
  padding: 10px;
  text-align: center;
}

/* Clear floats after the columns */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: left;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
